# Somente desenvolvimento local — nunca commitar segredos.
# VITE_DEV_UNLOCK_ALL=true libera SKUs premium no cliente (apenas com npm run dev).
# VITE_LICENSE_API_URL=https://sua-api.example/validate

VITE_DEV_UNLOCK_ALL=
VITE_LICENSE_API_URL=
